.idea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  overflow: scroll;
}
.whole {
  display: flex;
}
.input-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

