.help-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.inner-help-container {
  background-color: rgb(253, 253, 253);
  display: flex;
  width: 100vw;
  height: 100%;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

.link-container {
  margin: 1rem 0;

  h1 {
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(74, 74, 131);
  }
  li {
    margin: 3px 0;

    a {
      &:hover {
        color: #000;
      }
    }
  }
}

.outer-link-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
}
