.project-container {
  display: flex;
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
}

.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
