.sidebar {
  margin: 0 auto;
  width: 20%;
  overflow: hidden;
  height: 100vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background: linear-gradient(#222, 80%, #0c4b66);

  input {
    width: 80%;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    margin-bottom: 1rem;
  }
}

.sidebar-logo-container {
  margin: 0.5rem 0.5rem;
  height: 50px;

  img {
    height: 100%;
  }
}

.sidebar-ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar-link {
  text-decoration: none;
  color: rgb(201, 201, 201);
  font-size: 1.5rem;
  margin: 1rem 0;

  &:hover {
    color: #fff;
  }
}
.back-to-projects-btn {
  margin: 2rem;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;

  color: #25aae1;
}
.sidebar-user-photo {
  margin: 1rem auto 3rem;
  height: 100px;
  width: 120px;
}

.upload-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;

  i {
    margin-right: 5px;
  }
}

@media (max-width: 1600px) {
  .sidebar-link {
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  .upload-btn {
    font-size: 1.1rem;
  }
}
