.sidebar {
  margin: 0 auto;
  width: 20%;
  overflow: hidden;
  height: 100vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background: linear-gradient(#222, 80%, #0c4b66);

  input {
    width: 80%;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    margin-bottom: 1rem;
  }
}

.sidebar-logo-container {
  margin: 0.5rem 0.5rem;
  height: 50px;

  img {
    height: 100%;
  }
}

.sidebar-ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar-link {
  text-decoration: none;
  color: rgb(201, 201, 201);
  font-size: 1.5rem;
  margin: 1rem 0;

  &:hover {
    color: #fff;
  }
}
.back-to-projects-btn {
  margin: 2rem;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;

  color: #25aae1;
}
.sidebar-user-photo {
  margin: 1rem auto 3rem;
  height: 100px;
  width: 120px;
}

.upload-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;

  i {
    margin-right: 5px;
  }
}
.hamsss {
  display: none;
}

@media (max-width: 1600px) {
  .sidebar-link {
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  .upload-btn {
    font-size: 1.1rem;
  }
}
@media (max-width: 767px) {
  .sidebar {
    margin: 0 auto;
    width: 13%;
    overflow: visible;
    height: 100vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    position: relative;
    background: linear-gradient(#222, 80%, #0c4b66);

    input {
      display: none;
      width: 80%;
      border-radius: 4px;
      border: none;
      padding: 8px 16px;
      margin-bottom: 1rem;
    }
  }

  .sidebar-logo-container {
    margin: 0.5rem 0.5rem;
    height: 50px;

    img {
      height: 100%;
      margin-left: -33%;
    }
  }

  .sidebar-ul {
    display: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sidebar-link {
    display: none;
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-size: 1.5rem;
    margin: 1rem 0;

    &:hover {
      color: #fff;
    }
  }
  .back-to-projects-btn {
    display: none;
    margin: 2rem;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;

    color: #25aae1;
  }
  .sidebar-user-photo {
    display: none;
    margin: 1rem auto 3rem;
    height: 100px;
    width: 120px;
  }

  .upload-btn {
    display: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    i {
      margin-right: 5px;
    }
  }
  .ham {
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-size: 1.5rem;
    margin: 1rem 0;

    li {
      color: #fff;
    }
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: block;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: 0px 0px 0 -13px;
    padding: 27px;
    padding-top: 23px;
    background: linear-gradient(#222, 80%, #0c4b66);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    border-radius: 5px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .hamsss {
    display: block;
  }
}
