.project-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 100vw;
  height: 50vh;
}
.project-modal-input {
  background-color: rgb(145, 248, 255);
  height: 30px;
}
