.main-content {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
  background: #fff;
  display: flex;
}

.whole {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(rgba(47, 66, 77, 0.911), rgba(40, 57, 58, 0.795)),
    url("./abstract-art-background-blue-370799.jpg");

  background-repeat: no-repeat;

  display: flex;
}
